<a href="https://colab.research.google.com/github/vdslab/t-taiki0620/blob/main/2json.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
with open('/content/drive/MyDrive/卒業演習/tsne-pos-only-obj-2018.json', )as f:
  df = pd.read_json(f)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22115 entries, 0 to 22114
Data columns (total 40 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   22115 non-null  int64
 1   プロジェクトID             22115 non-null  int64
 2   公開年度                 22115 non-null  int64
 3   事業番号1                22115 non-null  object
 4   事業番号2                22115 non-null  int64
 5   事業番号3                150 non-null    float64
 6   主要政策・施策              22115 non-null  object
 7   府省庁                  22115 non-null  object
 8   事業名                  22115 non-null  object
 9   事業の目的                22115 non-null  object
 10  事業概要                 22115 non-null  object
 11  執行額                  22115 non-null  float64
 12  objective_x          22115 non-null  float64
 13  objective_y          22115 non-null  float64
 14  cluster_in_ministry  22115 non-null  int64
 15  ALL                  22115 non-null  int64
 16  高齢社会対策               22115 non-null  int64
 17  男女共同参画               22115 non-null  int64
 18  少子化社会対策              22115 non-null  int64
 19  子ども・若者育成支援           22115 non-null  int64
 20  国土強靱化施策              22115 non-null  int64
 21  障害者施策                22115 non-null  int64
 22  地方創生                 22115 non-null  int64
 23  科学技術・イノベーション         22115 non-null  int64
 24  ＩＴ戦略                 22115 non-null  int64
 25  一億総活躍推進              22115 non-null  int64
 26  海洋政策                 22115 non-null  int64
 27  観光立国                 22115 non-null  int64
 28  宇宙開発利用               22115 non-null  int64
 29  地球温暖化対策              22115 non-null  int64
 30  ＯＤＡ                  22115 non-null  int64
 31  自殺対策                 22115 non-null  int64
 32  医療分野の研究開発関連          22115 non-null  int64
 33  沖縄振興                 22115 non-null  int64
 34  知的財産                 22115 non-null  int64
 35  2020年東京オリパラ          22115 non-null  int64
 36  犯罪被害者等施策             22115 non-null  int64
 37  クールジャパン              22115 non-null  int64
 38  食育推進                 22115 non-null  int64
 39  その他                  22115 non-null  int64
dtypes: float64(4), int64(30), object(6)
memory usage: 6.7+ MB

In [ ]:
df = df.drop(columns=['高齢社会対策', '男女共同参画', '少子化社会対策', '子ども・若者育成支援', '国土強靱化施策', '障害者施策', '地方創生', '科学技術・イノベーション', 'ＩＴ戦略', '一億総活躍推進', '海洋政策', '観光立国', '宇宙開発利用', '地球温暖化対策', 'ＯＤＡ', '自殺対策', '医療分野の研究開発関連', '沖縄振興', '知的財産', '2020年東京オリパラ', '犯罪被害者等施策', 'クールジャパン', '食育推進', 'その他'])

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22115 entries, 0 to 22114
Data columns (total 16 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   22115 non-null  int64
 1   プロジェクトID             22115 non-null  int64
 2   公開年度                 22115 non-null  int64
 3   事業番号1                22115 non-null  object
 4   事業番号2                22115 non-null  int64
 5   事業番号3                150 non-null    float64
 6   主要政策・施策              22115 non-null  object
 7   府省庁                  22115 non-null  object
 8   事業名                  22115 non-null  object
 9   事業の目的                22115 non-null  object
 10  事業概要                 22115 non-null  object
 11  執行額                  22115 non-null  float64
 12  objective_x          22115 non-null  float64
 13  objective_y          22115 non-null  float64
 14  cluster_in_ministry  22115 non-null  int64
 15  ALL                  22115 non-null  int64
dtypes: float64(4), int64(6), object(6)
memory usage: 2.7+ MB

In [ ]:
df = df.drop(columns=['ALL', 'cluster_in_ministry', '執行額', '事業概要', '事業の目的', '府省庁', '主要政策・施策', '事業番号3', '事業番号2', '事業番号1'])

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22115 entries, 0 to 22114
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ID           22115 non-null  int64
 1   プロジェクトID     22115 non-null  int64
 2   公開年度         22115 non-null  int64
 3   事業名          22115 non-null  object
 4   objective_x  22115 non-null  float64
 5   objective_y  22115 non-null  float64
dtypes: float64(2), int64(3), object(1)
memory usage: 1.0+ MB

In [ ]:
df

          ID  プロジェクトID  公開年度                  事業名  objective_x  objective_y
0         13        16  2015               内閣広報経費    -3.427058    36.508163
1      10604        16  2017               内閣広報経費    -3.443014    36.496967
2      24982        16  2019               内閣広報経費    -3.433842    36.497105
3      15765        16  2018               内閣広報経費    20.884544   130.967896
4       5377        16  2016               内閣広報経費    -3.429540    36.508717
...      ...       ...   ...                  ...          ...          ...
22110  22976      8983  2019    中小企業・小規模事業者人材対策事業    -0.105321   -19.544006
22111  25938        44  2019       中長期の経済運営に必要な経費    28.377846   -26.652079
22112  25500      4895  2019            農山漁村振興交付金    -7.667183   -13.079095
22113  13514      4916  2017  農林水産物の品目別輸出促進緊急対策事業   -43.182682   -32.702126
22114  18677      4916  2018  農林水産物の品目別輸出促進緊急対策事業   123.480263    24.757841

[22115 rows x 6 columns]

In [ ]:
df_2018 = df.iloc[0:0]
print(df_2018)
cnt = 0
for i in range(len(df)):
  if df.loc[i]['公開年度'] == 2018:
    df_2018.loc[cnt] = df.loc[i]
    cnt += 1

Empty DataFrame
Columns: [ID, プロジェクトID, 公開年度, 事業名, objective_x, objective_y]
Index: []

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

In [ ]:
df_2018

         ID  プロジェクトID  ...  objective_x objective_y
0     15765        16  ...    20.884544  130.967896
1     15755        15  ...   103.928268   10.411826
2     15926        52  ...   113.718193   44.782299
3     15964        35  ...   103.873520 -200.275986
4     15924        84  ...   -26.981586 -211.417206
...     ...       ...  ...          ...         ...
4368  20146      3574  ...   -57.778313   58.734795
4369  15941        44  ...   -65.265366   -4.675023
4370  18840      4895  ...  -177.072800   75.405853
4371  19154      3708  ...    73.630852   84.847870
4372  18677      4916  ...   123.480263   24.757841

[4373 rows x 6 columns]

In [ ]:
df_exp = df_2018.drop(columns=['ID', 'プロジェクトID', '公開年度', '事業名'])

In [ ]:
df_exp

      objective_x  objective_y
0       20.884544   130.967896
1      103.928268    10.411826
2      113.718193    44.782299
3      103.873520  -200.275986
4      -26.981586  -211.417206
...           ...          ...
4368   -57.778313    58.734795
4369   -65.265366    -4.675023
4370  -177.072800    75.405853
4371    73.630852    84.847870
4372   123.480263    24.757841

[4373 rows x 2 columns]

In [ ]:
print(df_2018.loc[2015])
print(df_exp.loc[2015])

ID                 17874
プロジェクトID             418
公開年度                2018
事業名            先進医療制度対策費
objective_x      164.881
objective_y     -128.574
Name: 2015, dtype: object
objective_x    164.881165
objective_y   -128.574448
Name: 2015, dtype: float64

In [ ]:
import matplotlib.pyplot as plt
from scipy.cluster.hierarchy import linkage, dendrogram, fcluster
 
linkage_result = linkage(df_exp, method='ward', metric='euclidean')
plt.figure(num=None, figsize=(16, 9), dpi=200, facecolor='w', edgecolor='k')
dendrogram(linkage_result, labels=df.index)
plt.show()

In [ ]:
print(linkage_result[0][3])

2.0

In [ ]:
print(df_2018.loc[54], '\n')
print(df_exp.loc[54], '\n')
print(df_2018.loc[1739], '\n')
print(df_exp.loc[1739])

ID                        18397
プロジェクトID                    990
公開年度                       2018
事業名            生活のしづらさなどに関する調査費
objective_x             118.475
objective_y             128.731
Name: 54, dtype: object

objective_x    118.474594
objective_y    128.730637
Name: 54, dtype: float64

ID                  19416
プロジェクトID             3791
公開年度                 2018
事業名            化学物質規制対策事業
objective_x       118.475
objective_y       128.731
Name: 1739, dtype: object

objective_x    118.474594
objective_y    128.730637
Name: 1739, dtype: float64

In [ ]:
len(linkage_result)

4372

In [ ]:
linkage_result[3]

array([4.000e+01, 2.511e+03, 0.000e+00, 2.000e+00])

In [ ]:
for i in range(len(linkage_result)):
  print(linkage_result[i])

In [ ]:
import json
with open('/content/drive/MyDrive/Colab Notebooks/pre-judgit/test.json', 'w', encoding='utf8')as f:
  for i in range(len(linkage_result)):
    for j in range(2):
      if linkage_result[i][j] < len(df_2018):
        f.write(json.dumps({"no":int(linkage_result[i][j]), 
                            "parent":len(linkage_result)+i, 
                            "distance":linkage_result[i][2],
                            "事業名":df_2018.loc[linkage_result[i][j]]["事業名"]}, ensure_ascii=False) + '\n')
      else:
        f.write(json.dumps({"no":int(linkage_result[i][j]), 
                            "parent":len(linkage_result)+i, 
                            "distance":linkage_result[i][2],
                            "事業名":""}, ensure_ascii=False) + '\n')

In [ ]:
if linkage_result[4732] >

SyntaxError: ignored

In [ ]:
for data in linkage_result:
  print(data)

In [ ]:
cols = ['objective_x', 'objective_y']
df_exp = pd.DataFrame(index=[], columns=cols)
for i in range(len(df_2018)):
  df_exp.loc[df_2018.loc[i]['事業名']]['objective_x'] = df_2018.loc[i]['objective_x']
  df_exp.loc[df_2018.loc[i]['事業名']]['objective_y'] = df_2018.loc[i]['objective_y']

KeyError: ignored

In [ ]:
df_remake.append(df.loc[0])

   ID  プロジェクトID  公開年度     事業名  objective_x  objective_y
0  13        16  2015  内閣広報経費    -3.427058    36.508163

In [ ]:
df_remake

Empty DataFrame
Columns: [ID, プロジェクトID, 公開年度, 事業名, objective_x, objective_y]
Index: []

In [ ]:
df_blank = df.iloc[0:0]
print(df_blank)
df1 = df_blank.append(df)
print(df1)

Empty DataFrame
Columns: [ID, プロジェクトID, 公開年度, 事業名, objective_x, objective_y]
Index: []
          ID  プロジェクトID  公開年度                  事業名  objective_x  objective_y
0         13        16  2015               内閣広報経費    -3.427058    36.508163
1      10604        16  2017               内閣広報経費    -3.443014    36.496967
2      24982        16  2019               内閣広報経費    -3.433842    36.497105
3      15765        16  2018               内閣広報経費    20.884544   130.967896
4       5377        16  2016               内閣広報経費    -3.429540    36.508717
...      ...       ...   ...                  ...          ...          ...
22110  22976      8983  2019    中小企業・小規模事業者人材対策事業    -0.105321   -19.544006
22111  25938        44  2019       中長期の経済運営に必要な経費    28.377846   -26.652079
22112  25500      4895  2019            農山漁村振興交付金    -7.667183   -13.079095
22113  13514      4916  2017  農林水産物の品目別輸出促進緊急対策事業   -43.182682   -32.702126
22114  18677      4916  2018  農林水産物の品目別輸出促進緊急対策事業   123.480263    24.757841

[22115 rows x 6 columns]